@import "tailwindcss";

@theme inline {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  /* Midnight Blue color palette */
  --color-midnight-50: #e6eef5;
  --color-midnight-100: #c1d4e6;
  --color-midnight-200: #98b6d4;
  --color-midnight-300: #6f99c2;
  --color-midnight-400: #4f7fb4;
  --color-midnight-500: #2f66a6;
  --color-midnight-600: #25528a;
  --color-midnight-700: #1d3f6c;
  --color-midnight-800: #142d4f;
  --color-midnight-900: #0b1b32;
  --color-midnight-950: #000a15;
}

@variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-sans);
  @apply dark:bg-midnight-950;
}

/* Blog content formatting */
.blog-content {
  max-width: none;
}

.blog-content p {
  margin-bottom: 1em;
  line-height: 1.7;
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4 {
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  line-height: 1.3;
}

.blog-content h1 {
  font-size: 2em;
}

.blog-content h2 {
  font-size: 1.5em;
}

.blog-content h3 {
  font-size: 1.25em;
}

.blog-content h4 {
  font-size: 1.1em;
}

.blog-content ul,
.blog-content ol {
  margin-bottom: 1em;
  padding-left: 2em;
}

.blog-content ul {
  list-style-type: disc;
}

.blog-content ol {
  list-style-type: decimal;
}

.blog-content li {
  margin-bottom: 0.5em;
}

.blog-content a {
  color: rgb(37 99 235);
  text-decoration: underline;
}

.dark .blog-content a {
  color: rgb(96 165 250);
}

.blog-content blockquote {
  border-left: 4px solid rgb(229 231 235);
  padding-left: 1em;
  margin: 1.5em 0;
  font-style: italic;
  color: rgb(82 82 91);
}

.dark .blog-content blockquote {
  border-left-color: rgb(63 63 70);
  color: rgb(161 161 170);
}

.blog-content code {
  background-color: rgb(243 244 246);
  padding: 0.2em 0.4em;
  border-radius: 0.25em;
  font-size: 0.9em;
  font-family: var(--font-mono);
}

.dark .blog-content code {
  background-color: rgb(39 39 42);
}

.blog-content pre {
  background-color: rgb(243 244 246);
  padding: 1em;
  border-radius: 0.5em;
  overflow-x: auto;
  margin-bottom: 1em;
}

.dark .blog-content pre {
  background-color: rgb(39 39 42);
}

.blog-content pre code {
  background-color: transparent;
  padding: 0;
}

.blog-content img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5em;
  margin: 1.5em 0;
}

.blog-content hr {
  border: 0;
  border-top: 1px solid rgb(229 231 235);
  margin: 2em 0;
}

.dark .blog-content hr {
  border-top-color: rgb(63 63 70);
}

